In [ ]:
## 20 June 2025
# Day 4

# Loops -- Repeats a part of code as per the condition given 
# (as far as it is true)

In [ ]:
## For Loop -- Used to itrate over a sequence (list,tuple,dict,range)

In [ ]:
# String
for i in "hello":
    print(i)
## here 'i' is --- Temprory variable
 
for _ in "hello":
    print(_)
# '_' is also a valid Temp Variable

In [5]:
# List
lst =[1,2,'hello', True,1.2]
for i in lst:
    print(i)

1
2
hello
True
1.2

In [6]:
# tuple
tpl = ("Red", "Black","Blue","Red")
for i in tpl:
    print(i)

Red
Black
Blue
Red

In [ ]:
# Set
st = {0,1,'a',2,"hello", 1.2, True } 
for i in st:
    print(i)

In [13]:
dt = {
    "name" : "Ram",
    "age" : 20,
    "class" : 'CSE'
}

for i in dt:
    print(i,":",dt[i])

name : Ram
age : 20
class : CSE

In [15]:
dt = {
    "name" : "Ram",
    "age" : 20,
    "class" : 'CSE'
}
print(dt.items())
# for i,j in dt.items():
#     print(i, ":",j)

dict_items([('name', 'Ram'), ('age', 20), ('class', 'CSE')])

In [ ]:
# range -- syntax (Initiali, Last point, Skip)

for i in range (2,11,2):
    print(i)

In [ ]:
# Nested Loop 
lst = [1,2,3]
lst2 = ['a','b','c']

for i in lst:
    for j in lst2:
        print(i,j)

In [ ]:
## Break -- Stops the iteration of the LOOP
for i in range (1,10):
    if i == 5:
        break
    print(i)

In [ ]:
## Continue -- Stops the current iteration in the LOOP
for i in range (1,10):
    if i == 5:
        continue 
    print(i)

In [ ]:
## Pass -- Used to run the incomplete code without any error
for i in range(1,10):
    pass

In [15]:
## Question : Square list elements and give the out in list as well

lst = [2,3,4,5]
# sq_list = []
# for i in lst:
#     sq = i*i
#     sq_list.append(sq)
# print(sq_list)

sq_list = [i*i for i in lst]
print(sq_list)

[4, 9, 16, 25]

In [ ]:
## Question -- Reverse a list
lst = [1,2,3,4]
lst1 = lst [::-1]
print(lst1)
# or
lst = [1, 2, 3, 4, 5]
revList = []
for i in range(-1,-6,-1):
    revList.append(lst[i])
print(revList)

[4, 3, 2, 1]

In [ ]:
## While loop -- If Condition is True 
i = 1
while i <= 10:
    print(i)
    i += 1

In [ ]:
i = 10
while i >= 0:
    if i == 6:
        break
    if i%7==0:
        i -= 1 
        continue
    print(i)
    i -= 1

9
8
6